spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:test
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jwt:
    key: ${JWT_SECRET_KEY}
    access-token-expiration-minutes: 40
    refresh-token-expiration-minutes: 420